<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.sybrem.appbiochem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CapturaPedidos" />
        <activity android:name=".CapturaPedidos2" />
        <activity android:name=".CapturaPedidosGuardar" />
        <activity android:name=".CapturaPedidoExtendido" />
        <activity android:name=".CapturaBonificacion" />
        <activity android:name=".Login" />
        <activity android:name=".EligeRuta" />
        <activity android:name=".CapturaVisita" />
        <activity android:name=".Marketing" />
        <activity
            android:name=".NavDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CapturaPagos"
            android:label="@string/app_name" />
        <activity android:name=".InventarioMano" />
        <!-- <activity android:name=".RutaSemanal" /> -->
        <activity
            android:name=".ListaProductos"
            android:label="@string/title_activity_lista_productos"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".Lista_Clientes"
            android:label="@string/title_activity_lista__clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaOfertas"
            android:label="@string/title_activity_lista_ofertas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RutaSemana"
            android:label="@string/title_activity_ruta_semana"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeguimientoDePagos"
            android:label="@string/title_activity_seguimiento_de_pagos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeguimientoDePedidos"
            android:label="@string/title_activity_seguimiento_de_pedidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Capturas_"
            android:label="@string/title_activity_capturas_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AltaCliente" />
        <activity android:name=".Comprobacion" />
        <activity
            android:name=".Politicas"
            android:label="@string/title_activity_politicas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ComprobacionPartidas" />
        <activity android:name=".Politics" />
        <activity android:name=".ExamenPrueba" />
        <activity
            android:name=".Novedades"
            android:label="@string/title_activity_novedades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuComprobaciones"
            android:label="@string/title_activity_menu_comprobaciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ComprobacionHonorarios" />
        <activity
            android:name=".ComprobacionHonorariosPartidas"
            android:label="@string/title_activity_comprobacion_honorarios_partidas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AuxiliarMenu" />
        <activity
            android:name=".GeneraAuxiliar"
            android:label="GenerarAuxiliar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ReporteVenta"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>